.navigation-box {
	display: grid;
	grid-template-columns: repeat(2, 25vw);
	gap: 1rem;
}

.navigation-text {
	padding: 3rem 4rem;
	font-weight: bold;
	background: #79dfff;
	border-radius: 10px;

	&:hover {
		background: #4bfe85;
		cursor: pointer;
	}
}
